body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f7f7f9;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

img {
  width: 100%;
}

hr {
  width: 100%;
  background-color: #dfe1e6;
  border: none;
  height: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: white;
}

.logo {
  color: #6070ff;
  font-weight: 700;
}

.menu_btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.menu {
  width: 24px;
  height: 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("images/mobile_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-bottom-left-radius: 100px;
}

.title {
  width: 80%;

  padding-top: 10vh;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social_media {
  color: #7f8cff;
}

.social_icons {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.social_media h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  row-gap: 100px;
  margin-top: 42px;
  margin-bottom: 114px;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  min-height: 90%;
  padding: 16px;
  margin: 0 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.project_name {
  color: #172b4d;
  margin-top: 12px;
}

#title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project_info {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.company p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.dot {
  width: 8px;
  height: 8px;
}

.role p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.description {
  width: 90%;
  margin-top: 10px;
}

.description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 12px;
  list-style: none;
  padding: 0;
}

#lang {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.button-container {
  margin-top: 12px;
  height: 48px;
}

.btn {
  border: 1px solid #6070ff;
  border-radius: 8px;
  height: 48px;
  outline: none;
  background-color: white;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
  transition: all 0.5s ease-out;
}

.about {
  min-height: 100vh;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 0 24px;
}

.skills {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  margin-bottom: 12px;
}

.drop {
  width: 14px;
}

/* .btn:enabled {
  background-color: white;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
} */
.langTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.langList {
  list-style: none;
  padding: 0;
}

.langImg {
  width: 48px;
  height: 48px;
}

.lang {
  background: #f7f7f9;
  display: flex;
  padding: 12px 9px;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

.arrow {
  width: 8px;
}
