body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f7f7f9;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 52px;
  color: #00f;
  margin: 0;
}

h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

img {
  width: 100%;
}

hr {
  width: 100%;
  background-color: #dfe1e6;
  border: none;
  height: 1px;
}

input {
  width: 100%;
  min-height: 48px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
}

textarea {
  width: 100%;
  min-height: 170px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.modalBtn {
  display: flex;
  align-items: center;
  height: 24px !important;
  gap: 5px;
  justify-content: center;
}

.im {
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: white;
}

.logo {
  color: #6070ff;
  font-weight: 700;
}

.navigation {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(96, 112, 255);
  background-color: rgb(96, 112, 255, 0.95);
  mix-blend-mode: multiply;
  backdrop-filter: blur(15px);
}

.menu_btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  width: 45px;
}

.btn-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
}

.close_btn {
  border: none;
  cursor: pointer;
  width: 45px;
  outline: none;
  background: none;
}

.nav_wrapper {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 80%;
  z-index: 100;
}

.nav_item {
  padding: 10px 12px;
}

.nav_link {
  font-weight: 500;
  font-size: 32px;

  /* line-height: 20px; */
  color: #fff;
  line-height: 44px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 0 24px;
}

.desk_container {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 0 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background-image: url("images/mobile_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-bottom-left-radius: 100px;
}

.title {
  width: 80%;
  padding-top: 10vh;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social_media a {
  color: #0a23ff;
}

.social_icons {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

#social_icons {
  padding-left: 8px;
}

.social_media h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  row-gap: 100px;
  margin-top: 42px;
  margin-bottom: 114px;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  min-height: 90%;
  padding: 16px;
  margin: 0 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.project_name {
  color: #172b4d;
  margin-top: 12px;
}

#title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project_info {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.company p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #485060;
  text-transform: uppercase;
}

.dot-0 {
  width: 8px;
  height: 8px;
}

.dot-1 {
  width: 8px;
  height: 8px;
}

.dot-2 {
  width: 8px;
  height: 8px;
  display: none;
}

.role p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #485060;
}

.year p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #485060;
}

.description {
  width: 90%;
  margin-top: 10px;
}

.description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 12px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.langu {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #0018f0;
}

.button-container {
  margin-top: 30px;
  margin-bottom: 12px;
}

.btn {
  border: 1px solid #6070ff;
  border-radius: 8px;
  height: 48px;
  outline: none;
  background-color: white;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
  transition: all 0.5s ease-out;
}

.btn:hover .svg {
  fill: #fff !important;
  transition: all 0.5s ease-out;
}

.about {
  min-height: 100vh;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.skills {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  margin-bottom: 12px;
}

.drop {
  width: 14px;
}

/* .btn:enabled {
  background-color: white;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
} */

.langTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.langList {
  list-style: none;
  padding: 0;
}

.langImg {
  width: 48px;
  height: 48px;
}

.lang {
  background: #f7f7f9;
  display: flex;
  padding: 12px 9px;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

.arrow {
  width: 8px;
}

.skill-list {
  padding: 0;
}

.menu {
  width: 24px;
  height: 24px;
}

.contact_footer {
  background-color: #6070ff;
  border-top-left-radius: 100px;
  padding-top: 50px;
  margin-top: 50px;
}

.contact_container {
  background-image: url(images/contact_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 100px 24px 40px 24px;
  text-align: center;
}

.contact_container h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ebebff;
}

.contact_container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #050505;
  background-color: #8f9aff;
  margin-top: 12px;
}

#form_container {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

.input_form {
  margin-top: 10px;
  width: 95%;
}

.contact_button_container {
  margin-top: 22px;
  align-self: flex-start;
}

.conact_btn {
  background: #fff;
  border-radius: 8px;
  border: none;
  padding: 12px 16px;
  width: 100%;
}

#btn_text {
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-transform: capitalize;
  color: #001aff;
  padding: 0;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-btn-wrapper {
  width: 24px;
  margin-top: 12px;
}

.modal-close_btn {
  border: none;
  background: none;
}

.modal-body {
  background-color: #fff;
  width: 80%;
  margin: 10px auto;
  padding: 0 16px;
  border-radius: 16px;
  overflow: auto;
}

.modal-img {
  width: 100%;
  margin: 0 auto;
}

.modal-description p {
  padding: 0;
  font-size: 15px;
  color: #344563;
  line-height: normal;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.modal-btn {
  align-items: center;
}

/* Desktop view */
@media (min-width: 769px) {
  .header {
    padding: 15px 143px;
  }

  .menu_btn {
    display: none;
  }

  .navigation {
    display: contents !important;
    background: none;
  }

  .btn-wrapper {
    display: none;
  }

  .nav_wrapper {
    list-style: none;
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 0;
  }

  .nav_link {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav_item {
    padding: 10px 12px;
  }

  .headline {
    background-image: url("images/desktop_bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 90vh;
  }

  .container {
    width: 50%;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .card {
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 24px;
  }

  .rev-1 {
    flex-direction: row-reverse;
  }

  .rev-3 {
    flex-direction: row-reverse;
  }

  .contact_button_container {
    margin-top: 22px;
    align-self: center;
  }

  .contact_footer {
    background-image: url(images/contact_backgrpund.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .contact_container {
    width: 50%;
    margin: 0 auto;
    background: none;
  }

  .modal-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-between;
  }

  .modal-description {
    margin-bottom: 50px;
    width: 778px;
  }

  .modal-img {
    margin: 28px auto 59px auto;
  }

  .modal-btns {
    gap: 25px;
  }
}

@media (min-width: 960px) {
  .about {
    padding: 100px 0 0 0;
  }

  #live {
    width: 142px;
  }

  #source {
    width: 142px;
  }

  .desk_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
  }

  .left {
    min-width: 50%;
  }

  .right {
    min-width: 50%;
  }

  .title {
    padding-top: 0;
  }

  .skill-list {
    margin: 0;
  }

  .langList {
    display: flex;
    gap: 10px;
  }

  .lang {
    flex-direction: column;
    min-height: 120px;
    width: 122px;
    gap: 0;
  }
}

/* @media (max-width: 769px) {

} */
